.card {
  margin-top: 1em;
  display: flex;
  gap: 2em;
}

.cartplante {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f1ece2;
  padding: 1em;
  border-radius: 1em;
}
