.com {
  display: flex;
}
.compost {
  background-color: #e3dcce;
  padding: 0.6em;
  margin-top: 1em;
  border-radius: 1em;
  max-width: fit-content;
  height: auto;
}
.post {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
}

.text {
  background-color: white;
  box-shadow: inset 0px 0px 4px rgb(66, 66, 66);
  width: 550px;
  height: 50px;
  padding: 0.4em;
  border-radius: 1em;
  border: none;
}

.btn {
  background-color: #90a68b;
  border: none;
  height: 2.5em;
  width: 10em;
  color: white;
  cursor: pointer;
  border-radius: 1em;
  margin-top: 1em;
}

.form {
  display: flex;
  flex-direction: column;
}
.user {
  color: #90a68b;
  font-size: 1.1em;
  font-weight: bold;
}
