.nav {
  background-color: #f1ece2;
  display: flex;
  justify-content: space-between;
  padding: 1em;
  align-items: center;
}
.boutton {
  gap: 2em;
}
.btn {
  background-color: #90a68b;
  border: none;
  height: 2.5em;
  width: 10em;
  color: white;
  cursor: pointer;
  border-radius: 1em;
  margin: 1em;
}
.logo {
  border-radius: 50em;
  height: 4.5em;
}

.header {
  background-image: url("/image/background.jpg");
  background-position: center;
  background-size: cover;
  height: 30em;
}
.title {
  color: white;
  font-size: 4em;
  text-align: center;
  margin-top: 2em;
}
.conseil {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.text {
  margin-top: 6em;
  font-size: 1.5em;
}
